<p>test works!</p>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>username</th>
            <th>email</th>
            <th>address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj1 of myobj">
            <td>{{obj1.id}}</td>
            <td>{{obj1.name}}</td>
            <td>{{obj1.username}}</td>
            <td>{{obj1.email}}</td>
            <td>{{obj1.address.street}} {{obj1.address.city}} </td>
        </tr>
    </tbody>
</table>


