
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="mobiles" routerLinkActive="active">Mobiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="bikes" routerLinkActive="active">Bikes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="laptops" routerLinkActive="active">Laptops</a>
    </li>
  </ul>


  <router-outlet></router-outlet>







<!-- <h1 class="text text-center text-danger">THIS IS MY ANGULAR PAGE</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
<div class="col"  *ngFor="let pro of productObj">
<app-subproduct [productObj1]=pro></app-subproduct>
</div>
</div> -->
