

<!-- <br>
<div class="cont">
    <h5 class="text-center" style="font-size: 80px; text-decoration: underline;">Contact Us</h5>
<div>
    <br>
    <br>
    <div class=" d-flex" style="justify-content: space-around;">
        <div style="font-size: 80px;">
    
    <h5>Foodie Space</h5>
    <h5>PlotNo-24, Kukatpally</h5>
    <h5>Hyderabad</h5>
    <h5>PIN CODE : 500010</h5>
</div>


<div>
    <i class="far fa-id-card" style="font-size: 200px;"></i>
</div>

<div>
    <h5>Email: foodiespace@gmail.com</h5>
    <h5>Phone no. : 9826929099</h5>
</div>
</div>
</div>
<br>
</div> -->


<br>
<div class="contact ">
<br>

    <div class="top">

<h2 class="qu text-center">Got a Question?</h2>

<h2 class="sleek text-center">Contact FoodieSpace</h2>
<p class="we text-center">We’re here to help and answer any question <br> you might have. We look forward to hearing from you </p>
<br>
<br>
        <div class="myform">
<div class="row">
    <div class="col-sm-2 col-2 col-md-3 col-lg-3"></div>


    <div class="col-sm-8 col-8 col-md-6 col-lg-6">
            <div class="card shadow">
<br>
                <div class="card-body">


                    <form>

                        <div class="row">
                          
                            <div class="col-sm-1 col-1 col-md-3 col-lg-3"></div>
                        <div class="mb-3 col-sm-10 col-10 col-md-6 col-lg-6">
                          <label for="fName" class="form-label">First Name</label>
                          <input type="text" class="form-control" id="fName">
                        </div>
                        <div class="col-sm-1 col-1 col-md-3 col-lg-3"></div>
                        </div>
                      
                
                        <div class="row">
                        <div class="col-sm-1 col-1 col-md-3 col-lg-3"></div>
                        <div class="mb-3 col-sm-10 col-10 col-md-6 col-lg-6">
                          <label for="SName" class="form-label">Second Name</label>
                          <input type="text" class="form-control" id="SName">
                        </div>
                        <div class="col-sm-1 col-1 col-md-3 col-lg-3"></div>

                      </div>



                        <div class="row">

                        <div class="col-sm-1 col-1 col-md-3 col-lg-3"></div>
                        <div class="mb-3 col-sm-10 col-10 col-md-6 col-lg-6">
                          <label for="email" class="form-label">E-Mail</label>
                          <input type="email" class="form-control" id="email">
                        </div>
                        <div class="col-sm-1 col-11 col-md-3 col-lg-3"></div>


                      </div>

<div class="row">
                        <div class="col-sm-1 col-1 col-md-3 col-lg-3"></div>
                        <div class="mb-3 col-sm-10 col-10 col-md-6 col-lg-6">
                          <label for="msg" class="form-label">Message</label>
                          <textarea id="msg" row ="3" style="width: 100%; height: 100%;"></textarea>
                        </div>
                        <div class="col-sm-1 col-1 col-md-3 col-lg-3"></div>
                            
                      </div>




                    <br><br>
                    <div class="row">
                      
                      
                      <button type="submit" class="msg btn btn-primary col-auto mx-auto shadow">Send Message</button>
                    </div>
                   
                
                      </form>
                  



                </div>
                <br>
              </div>
            </div>
            <div class="col-sm-2 col-2 col-md-3 col-lg-3"></div>

            </div>

    </div>
    </div>





<br>
<br>
<div class="bottom">


<div class="row">
  <div class="col-sm-1 col-1 col-md-1 col-lg-1"></div>
<div class="col-sm-10 col-10 col-md-4 col-lg-4">
  <div class="card p-2 mb-5 shadow" >
    <div class="card-body">
      <br>
      <h5 class="card-title text-center" style="font-size: 30px; font-style: normal;">Contact Information</h5>
      <hr>
      <br>

<div class="m-2">
      <h5 class="det"><i class="fas fa-map-marker-alt"></i>   Foodie Space,PlotNo-24, Kukatpally
    Hyderabad, PIN CODE : 500010 </h5>
<br>
    <h5 class="det"><i class="fas fa-envelope"></i>   Email: foodiespace@gmail.com</h5>
    <br>
    <h5 class=det><i class="fas fa-phone"></i>   Phone no. : 9826929099</h5>
    <br>

  </div>
    </div>
  </div>
</div>
<div class="col-sm-1 col-1 col-md-1 col-lg-1"></div>



<div class="col-sm-1 col-1 col-md-1 col-lg-1"></div>
<div class="col-sm-10 col-10 col-md-4 col-lg-4">
  
  <h4 class="help1">How can we help?</h4>
  <p>Please select a topic below related to your inquiry. If you don’t find what you need, fill out our contact form.</p>
<br>

  <h6> <a href="#"> Book a demo </a></h6>
  <p>Request a demo from one of our conversion specialists.</p>

<hr>

<h6> <a href="#">Get Inspired </a> </h6>
<p>Discover the many ways in which our customers use FoodieSpace.</p>

<hr>

<h6> <a href="#">Become a partner</a></h6>
<p>Join our Partner Program and earn 25% recurring commissions.</p>





</div>
<div class="col-sm-1 col-1 col-md-1 col-lg-1"></div>








</div>




</div>





</div>
    

